<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
      <br>
    <% end %>
  <% end %>

<%= yield %>

<% if current_user %>

  <!-- <%= button_to "Log Out", session_url, method: :delete %> -->
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">

    <%= auth_token %>
    <input type="submit" value="Log Out">
  </form>
<% end %>

</body>
</html>
